<ion-view title="药房须知">
	<ion-content padding="true" class="has-header">

	<p>
	门诊药房用药须知
　　特殊人群用药：
　　1.肝功能不全患者用药注意事项：患者应避免或减少使用对肝脏毒性大的药物(如四环素、利福平、依托红霉素)。肝病患者应慎用抗凝药(香豆素)，激素类药物(地塞米松)，利尿药(呋塞米)，镇静药物(苯巴比妥)等
　　2.肾功能不全患者用药注意事项：避免使用经肾脏代谢的药物如抗生素类(庆大霉素、四环素、两性霉素B)，非甾体抗炎药(扑热息痛)，含碘的造影剂等。
　　3.妊娠哺乳期用药注意事项：慎用抗生素(庆大霉素、氯霉素、四环素)，哺乳期禁用经乳汁分泌量大的药物如抗生素(红霉素)，抗甲状腺药(他巴唑)，抗凝血药(肝素)，中枢性药物(苯巴比妥)等
　　4.老年人用药注意事项：老年病人由于肝肾功能减弱，服用抗生素类、解热镇痛类、抗凝血等药物时应较少用药剂量。服用地高辛时应监测血药浓度避免心脏毒性。
　　5.儿童用药注意事项：儿童正处在生长发育期，应避免使用激素类药物，选用抗生素时避免选用肾毒性的药物(庆大霉素)
　　特殊剂型使用方法：
　　1. 气雾剂：使用前应先充分振摇药罐使药物颗粒充分释放，将药罐拿于皮肤上10~15cm处，按下喷嘴后几秒后释放
　　2. 吸入剂：使用前仔细阅读说明书，先呼气，将吸嘴置于齿间，在按下装置的同时用双唇含住吸嘴用力吸气，然后将装置从口中拿出，继续屏气5秒钟后恢复正常呼吸
　　3. 含片：将药片放在舌下，不要嚼服5分钟之内不要饮水
　　4. 直肠栓：插入栓剂前先去除外面的铝箔，左侧卧位并弯曲右膝，将栓剂尖端朝前将栓剂推入直肠内，用药后应尽量平躺。
　　糖尿病患者用药注意事项：
　　胰岛素在未开封时应放冰箱2~8℃避光储存，开封后的胰岛素在常温(最高25℃)下保存最长4~6周，注射部位应经常更换。短效胰岛素一般是餐前30分钟皮下注射，中效胰岛素(低精蛋白锌胰岛素注射液)可于睡前或早餐前每天一次给药，长效胰岛素(甘精胰岛素)傍晚注射一次，混悬型胰岛素使用前应缓慢摇动使其混匀。
　　口服降糖药：一般在餐前30分钟服用。二甲双胍餐后服用可减轻胃肠道反应。阿卡波糖餐前即刻服用或与第一口主食一起嚼服。
　　心血管系统用药注意事项：
　　高血压患者使用特拉唑嗪降血压时首次使用不超过1mg，睡前服用日最大剂量20mg，用于前列腺肥大日剂量5~10mg。使用卡托普利开始时每次25mg，一日三次，饭前服用。
　　调节血脂药吉非贝齐于早晚餐前30分钟服用;洛伐他汀，辛伐他汀晚餐时服用
　　消化系统药物使用注意事项：
　　治疗消化性溃疡的药物无特殊要求一般为餐后服用，铝碳酸镁餐后1小时服用;碳酸钙用于中和胃酸时餐后1~1.5小时服用;雷贝拉唑应早晨服用并且要整片吞服;枸橼酸铋钾餐前半小时和睡前服用;胶体果胶铋于三餐前半小时各服一次，睡前加服一次。
　　促胃动力药(多潘立酮、莫沙必利、甲氧氯普胺)应餐前服用
　　抗变态反应用药注意事项：
　　车船、飞机的驾驶人员，精密仪器操作者在工作前禁止服用中枢神经抑制的抗组胺药物(氯苯那敏、苯海拉明)，老年人对抗组胺药物的不良反应较敏感，应用本类药物时易发生低血压、精神错乱、头晕等，孕妇及哺乳期妇女慎用。
	</p>

	</ion-content>
</ion-view>