<ion-view title="我的就医卡">

    <ion-content padding="false" class="has-header">
<div class="list list-inset padding-top ">
	<label class="item item-input">
		<input type="text"placeholder="医院名字" value="{{hos.hosOrgName}}" ui-sref="hosSearch({targetState: 'addcard'})">
	
	</label>
	<label class="item item-input padding-top" > 
		<input type="text"placeholder="就医卡号" ng-model="cardParams.cardno">
	</label>
		<label class="item item-input padding-top" > 
		<input type="text"placeholder="姓名" ng-model="cardParams.name">
	</label>
</div>
<p class="padding">.温馨提示：绑定就医卡后可以查询消费明细，请正确填写就医卡号。</p>
    <div class="bindcard padding">
        	<button class="button button-balanced button-block" ng-click="bindcard();">绑定就医卡</button>
        </div>
    </ion-content>
</ion-view>