<ion-view title="处方明细">
	<ion-content padding="false" class="has-header">

		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="refresh()">
		</ion-refresher>

		<div ng-repeat="item in items" ng-click="item.SHOWORHIDE = !item.SHOWORHIDE">
			<div class="row">
				<div class="col-60 align-left">
					<b>{{item.outpatientRecord.diag}}</b>
				</div>
				<div class="col-40 align-right">
					{{item.outpatientRecord.diagDate | date: 'yyyy-MM-dd'}}
				</div>
			</div>
			<div class="row border-bottom border-light">
				<div class="col-60 align-left">
					{{item.outpatientRecord.hospitalName}}
					&nbsp;&nbsp;
					{{item.outpatientRecord.departmentName}}
				</div>
				<div class="col-40 align-right">
					<div ng-show="item.SHOWORHIDE">
						收起<i class="ion-arrow-up-b"></i>
					</div>
					<div ng-show="!item.SHOWORHIDE">
						展开<i class="ion-arrow-down-b"></i>
					</div>
				</div>
			</div>
			<div ng-show="item.SHOWORHIDE" ng-repeat="pre in item.prescribes" class="padding">

				<b>{{pre.cmWVal}}</b>

				<div ng-repeat="detail in pre.prescribeDetails" class="border-bottom border-light padding">

					{{detail.detailItemName}}
					&nbsp;&nbsp;

					{{detail.drugTypeValue}}
					&nbsp;&nbsp;

					{{detail.doseSingle}}
					{{detail.doseUnit}}
					&nbsp;&nbsp;

					<br/>

					{{detail.everyTimeAmount}}{{detail.everyTimeUnit}}
					/{{detail.usingDrugDays}}

					&nbsp;&nbsp;
					{{detail.usingDrugFreq}}
					&nbsp;&nbsp;
					{{detail.drugWayDn}}

					<br/>
					{{detail.REMARK}}

				</div>
			</div>
		</div>
		<ion-item ng-if="!hasmore" class="nomore" class="nomore">
			没有更多
		</ion-item>

		<ion-infinite-scroll
			ng-if="hasmore"
			on-infinite="loadMore()"
			distance="5%"
			>
		</ion-infinite-scroll>

	</ion-content>
</ion-view>