<ion-view title="关于我们">
	<ion-content padding="true" class="has-header">

	<div class="center">
		<img src="img/u6473.jpg" width="40%">
		<h3 class="color-blue"><b>中科软科技</b></h3>
		<h4 class="color-blue"><b>Sinosoft Co.,Ltd.</b></h4>
	</div>

	<div class="border-bottom border-light" style="margin-bottom: 10px;"></div>

	版权所有：中科软科技股份有限公司 @2016
	<br/>
	通信地址：北京市海淀区中关村新科祥园甲6号
	<br/>
	总机：010-62570007
	<br/>
	传真：010-82523227
	<br/>
	邮编：100190
	<br/>
	客服电话：
	<br/>
	网址：<span class="color-blue">www.sinosoft.com.cn</span>

	</ion-content>
</ion-view>