<ion-view title="健康档案">

    <ion-content padding="false" class="has-header">
		<div style="height: 112px;width: 100%;border-radius: 5px;border:1px solid;border-color: #cccccc;margin: 10px;">
			<div style="height: 70px;width: 30%;float: left;text-align: center;line-height: 60px;">王敏</div>
			<div style="background-color:#cccccc ;height: 60px;width: 2px;float: left;margin-top: 5px;"></div>
			<div style="float: left;height: 70px;width: 50%;margin-left: 10px;">
				<div>女&nbsp;47岁</div>
				<div>136****7702</div>
				<div>410***********2125</div>
			</div>
			<div style="background-color: #c1e8d4;height: 40px;width: 100%;float: left; clear:both;">
				<div style="height: 100%;width: 32%;line-height: 40px;text-align: center;float: left;">
					<div>身高168cm</div>
				</div>
				<div style="background-color:#cccccc ;height: 30px;width: 5px;float: left;margin-top: 5px;"></div>
				<div style="height: 100%;width: 32%;line-height: 40px;text-align: center;float: left;">
					<div>体重69kg</div>
				</div>
				<div style="background-color:#cccccc ;height: 30px;width: 5px;float: left;margin-top: 5px;"></div>
				<div style="height: 100%;width: 32%;line-height: 40px;text-align: center;float: left;">
					<div>BMI24</div>
				</div>
			</div>
		</div>
		<div style="width: 100%;height: 30px;background-color: #f3f2f0;">
			<div style="height: 30px;line-height: 30px;text-align: center;float: left;margin-left: 10px;">药物过敏史</div>
			<div style="height: 30px;line-height: 30px;text-align: center;float: right;margin-right: 10px;">1记录▼</div>
		</div>
		<div style="height: 35px;width: 65px;border:1px solid #cccccc;line-height: 35px;text-align: center;margin: 10px;">
			青霉素
		</div>
		<div style="width: 100%;height: 30px;background-color: #f3f2f0;">
			<div style="height: 30px;line-height: 30px;text-align: center;float: left;margin-left: 10px;">既往病史</div>
			<div style="height: 30px;line-height: 30px;text-align: center;float: right;margin-right: 10px;">3记录▼</div>
		</div>
		<div style="height: 35px;float:left;width: 65px;border:1px solid #cccccc;line-height: 35px;text-align: center;margin: 10px;">
			高血压
		</div>
		<div style="height: 35px;float:left;width: 65px;border:1px solid #cccccc;line-height: 35px;text-align: center;margin: 10px;">
			糖尿病
		</div>
		<div style="height: 35px;float:left;width: 65px;border:1px solid #cccccc;line-height: 35px;text-align: center;margin: 10px;">
			冠心病
		</div>
		<div style="width: 100%;height: 30px;background-color: #f3f2f0;clear: both;">
			<div style="height: 30px;line-height: 30px;text-align: center;float: left;margin-left: 10px;">家族病史</div>
			<div style="height: 30px;line-height: 30px;text-align: center;float: right;margin-right: 10px;">3记录▼</div>
		</div>
		<div style="height: 35px;float:left;width: 65px;line-height: 35px;text-align: center;margin: 10px;">
			父亲：
		</div>
		<div style="height: 35px;float:left;width: 65px;border:1px solid #cccccc;line-height: 35px;text-align: center;margin: 10px;">
			糖尿病
		</div>
		<div style="height: 35px;float:left;width: 65px;border:1px solid #cccccc;line-height: 35px;text-align: center;margin: 10px;">
			冠心病
		</div>
		<div style="height: 35px;float:left;width: 65px;line-height: 35px;clear:both;text-align: center;margin: 10px;">
			母亲：
		</div>
		<div style="height: 35px;float:left;width: 65px;border:1px solid #cccccc;line-height: 35px;text-align: center;margin: 10px;">
			脑卒中
		</div>
		<div style="width: 100%;height: 30px;background-color: #f3f2f0;clear: both;">
			<div style="height: 30px;line-height: 30px;text-align: center;float: left;margin-left: 10px;">遗传病史</div>
			<div style="height: 30px;line-height: 30px;text-align: center;float: right;margin-right: 10px;">1记录▼</div>
		</div>
		<div style="height: 35px;width: 95px;border:1px solid #cccccc;line-height: 35px;text-align: center;margin: 10px;">
			原发性高血压
		</div>
		<div style="width: 100%;height: 30px;background-color: #f3f2f0;clear: both;">
			<div style="height: 30px;line-height: 30px;text-align: center;float: left;margin-left: 10px;">门诊记录</div>
			<div style="height: 30px;line-height: 30px;text-align: center;float: right;margin-right: 10px;">2记录▼</div>
		</div>
			<a
		class="row padding border-bottom row-center"
		>
		<div class="col col-75 border-right">
			<span><b>急性肠炎并发症</b></span>
			<br/>
			<span>
				大厂回族自治县人民医院
				&nbsp;&nbsp;&nbsp;&nbsp;
				外科</span>

			<br/>
			<span  class="color-main">
				处方单2
			</span>
			<span class="color-main">
				检查单1
			</span>
		</div>
		<div class="col col-25 center">
			07/01
			<br/>
			2016
		</div>
	</a>
				<a
		class="row padding border-bottom row-center"
		>
		<div class="col col-75 border-right">
			<span><b>腹痛检查</b></span>
			<br/>
			<span>
				中国人民解放军医院
				&nbsp;&nbsp;&nbsp;&nbsp;
				消化内科</span>

			<br/>
			<span  class="color-main">
				处方单1
			</span>
			<span class="color-main">
				检查单1
			</span>
		</div>
		<div class="col col-25 center">
			07/01
			<br/>
			2016
		</div>
	</a>
	<div style="width: 100%;height: 30px;background-color: #f3f2f0;clear: both;">
			<div style="height: 30px;line-height: 30px;text-align: center;float: left;margin-left: 10px;">住院记录</div>
			<div style="height: 30px;line-height: 30px;text-align: center;float: right;margin-right: 10px;">1记录▼</div>
		</div>
			<a
		class="row padding border-bottom row-center"
		>
		<div class="col col-75 border-right">
			<span><b>慢性病</b></span>
			<br/>
			<span>
				大厂回族自治县人民医院
				&nbsp;&nbsp;&nbsp;&nbsp;
				住院部</span>

			<br/>
			<span><b>主要诊断：脑血栓</b></span><span style="background-color:#baefd0 ;margin-right: 10px;float: right;">痊愈</span><br/>
			<span><b>其他诊断：脑血栓</b></span><span style="background-color:#baefd0 ;margin-right: 10px;float: right;">好转</span><br/>
			<span><b>中风</b></span><span style="background-color:#baefd0 ;margin-right: 10px;;float: right;">未愈</span>
		</div>
		<div class="col col-25 center">
			07/01
			<br/>
			2016
			<br/>
			~
			<br/>
			07/05
			<br/>
			2016
		</div>
	</a>
    </ion-content>
</ion-view>
