<ion-view title="预约挂号">

	<ion-content padding="false" class="has-header">
	<div class="padding border-bottom border-light bg-grey">
		<div>
			就诊医院：<span>{{aj.hosOrgName}}</span>
		</div >
		 <div>
			就诊科室：<span>{{aj.deptName}}</span>
		</div>
		 <div>
			就诊时间：<span class="blue_font">{{aj.appointSimpleDate}}</span>
		</div>
		<div>
			门诊类型：<span class="blue_font">{{aj.clinicName}} &nbsp;&nbsp;&nbsp;&nbsp;{{aj.expName}}</span>
		</div>
		<div>
			挂号费用：<span class="red_font">￥{{aj.reFee}}元</span>
		</div>
		<div>
			·友情提示：本网使用实名制预约，如就诊人信息不符将影响取号和就诊。
		</div>
	</div>
	<div class="row padding">
		<div class="col-80">
			<span>就诊人：{{patient.name}}</span><br/>
			<span>性 别：{{patient.gender}}</span><br/>
			<span>手机号：{{patient.phone}}</span><br/>
			<span>身份证：{{patient.idNo}}</span><br/>
		</div>
		<a class="col-20 center"
			ui-sref="patientList({
				'targetState': 'appointMent',
				'otherParams': aj})"
			>
			<img src="img/people_head_mini.png">
			<br/>
			<span class="cs-select-title-icon">▼</span>
		</a>
	</div>
	<div class="row">
		<button class="button button-balanced button-block"
			ng-click="appointMent()">预约</button>
	</div>

	</ion-content>
</ion-view>