<ion-view title="我的消息">

	<ion-content padding="false" class="has-header">

		<ion-refresher
			pulling-text="下拉刷新..."
			on-refresh="refresh()">
		</ion-refresher>

		<ion-list>
			<ion-item class="item-remove-animate"
				ng-repeat="message in items"
				ng-click="viewDetail(message)"
				ng-class="{
				'msg-bgcolor-typea':
					message.msgtype =='1'
					|| message.msgtype =='2'
					|| message.msgtype =='3'
					|| message.msgtype =='4',
				'msg-bgcolor-typeb':
					message.msgtype =='5'
					|| message.msgtype =='6'
					|| message.msgtype =='7'
					|| message.msgtype =='8'
					|| message.msgtype =='9'
					|| message.msgtype =='10',
				'msg-bgcolor-typec':
					message.msgtype =='11'
					|| message.msgtype =='12'
					|| message.msgtype =='13'
					|| message.msgtype =='14'
					|| message.msgtype =='15'
					|| message.msgtype =='16',
				'msg-bgcolor-typed':
					message.msgtype =='17',
				'msg-bgcolor-typee':
					message.msgtype =='18'
					|| message.msgtype =='19',
				'msg-bgcolor-typef':
					message.msgtype =='20'
				}"
				>
				<h2>
					<img style="width: 10px;" ng-if="message.state == '0'" src="img/dot.png">
					{{message.msg}}</h2>
				<p>{{message.createtime | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
				<ion-option-button
					ng-if="message.state == '0'"
					class="button-calm"
					ng-click="flagRead(message)">
					已读
				</ion-option-button>
				<ion-option-button
					class="button-assertive"
					ng-click="delMsg($index, message)">
					删除
				</ion-option-button>
			</ion-item>
		</ion-list>

		<div class="nomore padding" ng-if="!hasmore">
			没有更多
		</div>

		<ion-infinite-scroll
			ng-if="hasmore"
			on-infinite="loadMore()"
			distance="5%"
			>
		</ion-infinite-scroll>

	</ion-content>
</ion-view>