<ion-view title="功能介绍">
    <ion-content padding="true" class="has-header">

    <p class="paragraph">
    百姓就医平台为区域内的医院提供手机端就医诊疗服务，个性化为每个医院定制便民就医诊疗服务，方便患者更好地享受医院的诊疗服务，也通过信息化手段，提高医院的服务水平，增加患者满意度，为医院开辟新用户提供渠道。
    </p>
    <p class="paragraph">百姓就医平台通过跟医院信息系统和业务进行整合，为患者提供预约挂号、排队叫号跟踪、诊间交费、就医导航、医生咨询、体检预约、病历查询、报告单查询、专家查询等就医服务。为医院提供号源管理、医院宣传、专家推介、统计分析等管理服务。
    </p>
    <p class="paragraph">便民就医服务提供APP方式，让老百姓通过手机端，足不出户享受就医服务，提供排队叫号、诊间支付等服务，改善老百姓排队就医的困境，享受高品质、方便快捷地就医体验。
    </p>

    </ion-content>
</ion-view>